
  <div class="container">
    <div class="left-container">

          <div class="top-div">
            <!--Conteudo da div superior -->
            <app-filter (onFilter)="onFilter($event)"></app-filter>

          </div>

          <div class="main-left-div">
            <!--Conteudo da Div esquerda(80% de altura)-->
            
            <app-users-list [usersList]="usersListFiltered" (userSelected)="onUserSelected($event)"></app-users-list>
          </div>

    </div>

    <div class="right-div">
      <app-user-details [user]="userSelected" *ngIf="showUserDetails"></app-user-details>

    </div>

  </div>
